/* SERVICES STYLES */
.services {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background-color: #FDFAF6;
    letter-spacing: 2px;
}

.service-container {
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-item {
    width: 30%;
    height: 15rem;
    margin: 20px 0;
    background-color: #FFF;
    border: solid 1px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1px 1px #000000;
    transition: box-shadow 0.2s ease-in-out;
}

.service-item:hover {
    box-shadow: 3px 3px #000000;
}

.item-logo {
    border-bottom: solid 1px #000;
    width: 100%;
    height: 50%;
}

.item-name {
    border-bottom: solid 1px #000;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding: 10px;
}

.item-price {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 0 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
}

.price-tag {
    display: inline-block;
    width: auto;
    height: 38px;

    background-color: #ff8dd8;
    box-shadow: 3px 3px #000000;
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;

    border-left: 1px solid #ff8dd8;

    /* This makes room for the triangle */
    margin-left: 19px;

    position: relative;

    color: #000;
    font-weight: 300;
    font-size: 12px;
    line-height: 38px;

    padding: 0 10px 0 10px;
}

/* Makes the triangle */
.price-tag:before {
    content: "";
    position: absolute;
    display: block;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 19px solid #ff8dd8;
}

/* Makes the circle */
.price-tag:after {
    content: "";
    background-color: #000;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -9px;
    top: 17px;
}

.price-tag.spotify {
    background-color: #E5E5EA;
    border-left: 1px solid #E5E5EA;
}

.price-tag.price-tag.spotify::before {
    border-right: 19px solid #E5E5EA;
}

.price-tag.apple {
    background-color: #E5E5EA;
    border-left: 1px solid #E5E5EA;
}

.price-tag.price-tag.apple::before {
    border-right: 19px solid #E5E5EA;
}


@media screen and (max-width: 560px) {
    .service-item {
        width: 48%;
        height: 20rem;
    }

    .service-container {
        justify-content: space-between;
    }
}

/* DISCOUNT STYLES */

.discount-box {
    width: 100%;
    height: 18rem;
    border-radius: 5px;
    margin: 20px 0;
}