@font-face {
    font-family: roboto;
    src: url(../../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

.services-container {
    width: 100%;
    height: 85dvh;
    margin-top: 15dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.services {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-box {
    width: 30%;
    height: 13rem;
    background-color: #B0D9B1;
    margin: 2rem 0;
    border-radius: 10px;
    box-shadow: 2px 3px #222831;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    /* Add transition effect for background color */
}

.service-box:hover {
    background-color: #B0D9B1;
    /* Darken background color on hover */
}

.service-logo {
    height: 60%;
    width: 60%;
}

.start-button {
    background-color: #618264;
    box-shadow: 2px 3px #222831;
    transition: transform 0.2s ease-in-out;
    /* Add transition effect */
    margin-bottom: 15px;
}

.start-button:hover {
    transform: scale(1.05);
    /* Increase size subtly on hover */
}

.start-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Add media queries for smaller screens */
@media (max-width: 768px) {
    .service-box {
        width: 45%;
        /* Adjust width for tablets and smaller screens */
    }
}

@media (max-width: 480px) {
    .service-box {
        width: 95%;
        /* Make service boxes full-width for mobile screens */
        margin: 10px 0;
        /* Adjust margin for better spacing */
    }

    .services {
        justify-content: center;
        /* Center service boxes on mobile screens */
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
    /* Blur the background */
    background-color: rgba(0, 0, 0, 0.3);
    /* Optional: darken a bit */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 75%;
    height: 80%;
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.96);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

