@font-face {
    font-family: roboto;
    src: url(../../../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf);
}

/* COOKIES STYLES */
.cookies-container {
    width: 100%;
    margin: 20px 0;
    background-color: #FFF;
    border: solid 1px #ccc;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    font-family: roboto;
}

.cookie-item {
    width: 30%;
    height: 11rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
    overflow: hidden;
    border-radius: 10px;
    /* Add this line */
    cursor: pointer;
}

.cookie-item img {
    height: 95%;
    width: 45%;
    border-radius: 5px;
}

.details {
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
    text-align: end;
}

.details span {
    font-size: 12px;
}

.cookie-item:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    height: 1px;
    background-color: #ccc;
    /* or any other color */
}


.cookie-price {
    display: inline-block;
    width: auto;
    height: 38px;

    background-color: #99BC85;
    box-shadow: 3px 3px #000000;
    -webkit-border-radius: 3px 4px 4px 3px;
    -moz-border-radius: 3px 4px 4px 3px;
    border-radius: 3px 4px 4px 3px;

    border-left: 1px solid #99BC85;

    /* This makes room for the triangle */
    margin-left: 19px;

    position: relative;

    color: #000;
    font-weight: 300;
    font-size: 12px;
    line-height: 38px;

    padding: 0 10px 0 10px;
}

/* Makes the triangle */
.cookie-price:before {
    content: "";
    position: absolute;
    display: block;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 19px solid #99BC85;
}

/* Makes the circle */
.cookie-price:after {
    content: "";
    background-color: #000;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    left: -9px;
    top: 17px;
}



@media screen and (max-width: 560px) {
    .cookies-container {
        width: 100%;
        margin: 20px 0;
        border-radius: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
    }

    .cookie-item {
        width: 100%;
    }
}


/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.5rem;
    background: #E4EFE7;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    max-width: 400px;
    position: relative;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transform: scale(0.9);
    opacity: 0;
    transition: all 0.3s ease;
}

.overlay.show .modal {
    transform: scale(1);
    opacity: 1;
}

.modal img {
    aspect-ratio: 1/1;
    max-height: 30%;
    object-fit: cover;
    margin-bottom: 10px;
}

.modal p {
    font-size: 12px;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.quantity-control button {
    padding: 0.5rem;
    font-size: 1.2rem;
}

.quantity-control span {
    margin: 0 1rem;
    font-weight: bold;
}

.checkout,
.continue,
.close {
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    min-width: 90%;
}

.checkout {
    background-color: #00a859;
    color: white;
}

.continue {
    background-color: #eee;
    color: #000;
}

.close {
    background-color: orangered;
}

.ctrl-btn {
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}