.dash-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    overflow-x: auto;
    scrollbar-width: none;
}
.balance-banner {
    width: 100%;
    box-sizing: border-box;
    background-color: #1B3C53;
    /* green for positive feel */
    color: white;
    padding: 20px 16px;
    border-radius: 12px;
    text-align: center;
    margin-top: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.balance-text p {
    margin: 10px auto 24px;
    font-size: 28px;
    /* big for main balance */
    font-weight: 700;
}

.monthly-income {
    font-size: 14px;
    /* smaller for secondary info */
    margin-top: 4px;
    opacity: 0.85;
}

.action-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    padding-bottom: calc(50px + env(safe-area-inset-bottom));
    background: #1B3C53;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0px;
}

.withdraw-button,
.deposit-button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    flex: 1;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.withdraw-button p,
.deposit-button p {
    color: #19183B;
    margin: 0 10px;
}

.image {
    height: 20px;
    aspect-ratio: auto;
}


.bottom-sheet-content {
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
}

.amount-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    box-sizing: border-box;
}

.preset-amounts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.amount-card {
    width: 30%;
    background-color: #A8CD9F;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount-input:focus {
    outline: none;
}

.bottom-sheet-action-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 50px;
}

.close-button,
.confirm-button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #19183B;
    flex: 1;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button {
    background-color: orange;
}

.confirm-button {
    background-color: lightgreen;
}

.transactions-header {
    font-size: 16px;
    font-weight: 700;
    margin: 10px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full-transactions-list {
    box-sizing: border-box;
    padding: 5px;
}