@font-face {
  font-family: lora;
  src: url(/src/assets/JosefinSans-Regular.ttf);
}



body {
  margin: 0;
  padding: 0;
  height: 100lvh;
  width: 100%;
  background-color: #708993;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
p,
h2,
h3,
li {
  font-family: lora;
}

span {
  color: #a8cd9f;
}

.container {
  width: 100%;
  overflow: hidden;
}

.content {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

button {
  background-color: #c7f3bc8c;
  border-radius: 5px;
  border: solid 0.1px #a8cd9f;
  padding: 10px;
  box-shadow: 1px 1px 1px;
}

button:hover {
  background-color: #a8cd9f;
}

.page-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-transition {
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  top: 0;
  left: 0;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.page-transition.left {
  animation: slide-left 0.35s ease;
}

.page-transition.right {
  animation: slide-right 0.35s ease;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
    opacity: 0.2;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-100%);
    opacity: 0.2;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}